.layout {
  min-height: 100vh;
  background-color: #ffffff;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 0;
}
